.container .orga-page-content .title-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .orga-page-content .title-actions .filter-buttons {
    background-color: var(--Grey2);
    color: var(--Grey1);
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    border: 1px solid var(--LightPurple);
    cursor: pointer;
}
.container .orga-page-content .title-actions .filter-buttons .btn {
    padding: 7px 15px;
}
.container .orga-page-content .title-actions .filter-buttons .active {
    background-color: var(--White);
}

.solo-event-id-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 34px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
} 



.container .page-header{
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
}

.container .earning-cards-container{
    margin-top: 30px;
    background-color: var(--White);
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-radius: 8px;
}
.container .earning-cards-container .stats-card {
    width: 100%;
}
.container .earning-cards-container .stats-card .stats-card-container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}
.container .earning-cards-container .stats-card .stats-card-container .card-header{
    font-weight: 600;
}
.container .earning-cards-container .stats-card .stats-card-container .amount{
    font-size: 30px;
    font-weight: 600;
    color: var(--Purple);
}
.container .earning-cards-container .stats-card .stats-card-container .amount span{
    font-size: 16px;
    color: var(--Purple);
}
.container .earning-cards-container .stats-card .stats-card-container .sub-header{
    font-size: 12px;
    color: var(--Grey2);
    margin-top: 2px;
    font-weight: 500;
}
.earning-per-event-container{
border-radius: 8px;
background-color: var(--White);
padding: 20px;
}
.earning-per-event-container table th{
 background-color: var(--LighterPurple);
 padding:7px 15px !important;
}
.earning-per-event-container table tr td{
    padding: 15px !important;
}
.earning-per-event-container table tr td .curr{
    background-color: transparent !important;
    font-size: 10px;
}


.withdraw{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 30px;
    display: flex;
}
.withdraw .payment{
    margin: auto;
}


.withdraw .payment .btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.withdraw .payment .btns .btn {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    display: flex;
}
.withdraw .payment .btns .btn span{
margin: auto;
}
.withdraw .payment .btns .btn.chekout{
    background-color: var(--Green);
    color: var(--White);
    width: 100%;
}
.withdraw .payment .btns .btn.cancel{
    width: 40%;
    border: 1px solid var(--Grey1);
    color: var(--Grey1);
}
.labled-input label{
    font-size: 16px !important;
    color: var(--Grey1);
    font-weight: 500 !important;
    font-size: 14px !important;
}
.withdraw-amount .td{
    text-align: end;
    padding: 10px  !important;
}