.event-card-cart {
    align-items: center;
    margin: auto;
    max-width: 1200px;
    padding: 0px 50px;
}
.event-card-cart .event-card-cart-container {
    display: grid;
    grid-template-columns: 1.8fr 2fr;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--Purple10); */
    padding-bottom: 20px;
    padding-top: 20px;
}
.event-card-cart .event-card-cart-container .event-infos {
    display: flex;
    gap: 10px;
    align-items: center;
}
.event-card-cart .event-card-cart-container .preview-image {
    max-height: 100px;
    max-width: 160px;
    height: 100%;
    background-color: var(--Purple10);
    border-radius: 10px;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.event-card-cart .event-card-cart-container .preview-image img {
    width: 100%;
    overflow: hidden;
}
.event-card-cart .event-card-cart-container .event-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.7);
}
.event-card-cart .event-card-cart-container .event-infos .inf {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    user-select: none;
    font-weight: 500;
    color: var(--Grey1);
    font-size: 0.86rem;
}
.event-card-cart .event-card-cart-container .inf span {
    font-size: 1rem !important;
    margin-right: 5px;
    color: var(--Purple60);
}
.event-card-cart .event-card-cart-container .date span {
    font-size: 14px !important;
}
.event-infos .event-category {
    user-select: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 1px 6px 2px 6px;
    border: 1px solid var(--Purple10);
    border-radius: 8px;
    background-color: var(--LighterPurple);
    font-size: 0.7rem;
    width: fit-content;
}
.event-card-cart .event-card-cart-container .event-infos input {
    background-color: var(--Purple);
}
.event-card-cart .event-card-cart-container .quantity {
    border: 1px solid var(--Purple10);
    user-select: none;
    border-radius: 10px;
}
.event-card-cart .event-card-cart-container .quantity .decrement {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-right: 1px solid var(--Purple10);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    width: 100%;
    transition: 0.2s ease-in-out;
}
.event-card-cart .event-card-cart-container .quantity .quantity-to-set {
    font-weight: 500;
    padding: 0px 10px;
    align-items: center;
    vertical-align: center;
    color: var(--Purple);
}
.shopping-infos {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
}
.event-card-cart .event-card-cart-container .quantity .increment {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-left: 1px solid var(--Purple10);
    margin: auto;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.event-card-cart .event-card-cart-container .quantity .btn:hover {
    background-color: var(--Purple);
    color: var(--White);
}
.event-card-cart .event-card-cart-container .pricing .total-price {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Purple);
    user-select: none;
}
.event-card-cart .event-card-cart-container .pricing {
    text-align: center;
}
.event-card-cart .event-card-cart-container .pricing .title-pricing {
    color: Grey;
}
.event-card-cart .event-card-cart-container .total-price span {
    font-size: 0.6rem;
}
.event-card-cart .event-card-cart-container .seat-category .seat-static-title {
    color: grey;
}
.event-card-cart .event-card-cart-container .actions {
    user-select: none;
    cursor: pointer;
}
.slecting-cat-quan {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active-on-mobile {
    display: none;
}

#seat-categories {
    width: 60%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--Grey3);
    border-radius: 8px;
    font-weight: 600;
    margin-top: 8px;
    appearance: none;
    cursor: pointer;
    color: var(--Green);
}
/*************** ***************************/
@media only screen and (max-width: 906px) {
    .event-card-cart {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 950px) {
    .shopping-infos {
        display: grid;
        grid-template-columns: 1fr 0.7fr 0.01fr;
        align-items: center;
    }
    .event-card-cart {
        padding: 0;
    }
    .event-card-cart-table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 20px;
        gap: 10px;
    }
    .event-card-cart .event-card-cart-container .active-on-mobile {
        display: block;
    }
    .event-card-cart .event-card-cart-container .actions .mobile-disable {
        display: none;
    }
    .event-card-cart .event-card-cart-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .products-header .mobile-disable {
        display: none;
    }
    .more-event-on-mobile {
        display: none;
    }
    .slecting-cat-quan {
        flex-direction: column;
        gap: 10px;
    }
    .shopping-infos {
        justify-content: space-between;
        width: 100%;
    }
}
@media only screen and (max-width: 780px) {
    .event-card-cart-table {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 10px;
    }
}
