.login-popup {
    height: 100vh;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.login-popup .login-popup-container {
    position: relative;
    margin: 20px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    background-color: var(--White);
    border-radius: 8px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    box-shadow: var(--CardShadow);
}
.login-popup .login-popup-container .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--Grey2);
    cursor: pointer;
    user-select: none;
}
.login-popup .login-popup-container .title-instructions .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--Purple60);
}
.login-popup .login-popup-container .title-instructions .instructions {
    font-size: 14px;
    font-weight: 400;
    color: var(--Grey2);
}
.login-popup .login-popup-container .element {
    display: flex;
    flex-direction: column;
}
.login-popup .login-popup-container .element .element-c {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.login-popup .login-popup-container .element .submit {
    margin-top: 20px;
}
.login-popup .login-popup-container .element .element-c label {
    font-weight: 600;
    margin-bottom: 3px;
}
.login-popup .login-popup-container .element .element-c .login-input {
    display: flex;
    align-items: center;
    border: 1px solid var(--Grey2);
    border-radius: 8px;
    width: 100%;
    background-color: var(--White);
    overflow: hidden;
}
.login-popup .login-popup-container .element .element-c .password-input {
    flex-direction: row-reverse;
}
.login-popup .login-popup-container .element .element-c .login-input span {
    font-size: 1.3rem;
    padding: 6px 10px;
    cursor: pointer;
}
.login-popup .login-popup-container .element .element-c .login-input input {
    border: none;
    width: 100%;
    outline: none;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 500;
}
.login-popup .login-popup-container .element .element-c .login-input input::placeholder {
    color: var(--Grey2);
}
.login-popup .login-popup-container .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-popup .login-popup-container .form .forgot-password {
    font-size: 0.7rem;
    text-align: end;
    color: var(--Grey1) 88;
    text-decoration: underline;
    cursor: pointer;
}
.login-popup .login-popup-container .form .submit-container {
    background-color: var(--Purple);
    padding: 7px 10px;
    color: var(--White);
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
}
.login-popup .login-popup-container .form .submit-container:hover {
    opacity: 0.9;
}
.login-popup .login-popup-container .form .sign-up {
    flex-direction: row !important;
    gap: 5px !important;
    text-align: center;
    justify-content: center;
    color: var(--Grey1);
    font-size: 0.8rem;
}
.login-popup .login-popup-container .form .sign-up span {
    color: var(--Purple);
    font-weight: 500;
    cursor: pointer;
}
