.ticket-card {
    align-items: center;
    margin: auto;
    max-width: 1200px;
    padding: 0px 50px;
}
.ticket-card .ticket-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--Purple10); */
    padding-bottom: 20px;
    padding-top: 20px;
}
.ticket-card .ticket-card-container .ticket-infos {
    display: flex;
    gap: 10px;
    align-items: center;
}
.ticket-card .ticket-card-container .preview-image {
    max-height: 100px;
    max-width: 170px;
    height: 100%;
    background-color: var(--Purple10);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
.ticket-card .ticket-card-container .preview-image img {
    width: 100%;
}
.ticket-card .ticket-card-container .event-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.7) !important;
}
.ticket-card .ticket-card-container .event-category {
    user-select: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 1px 6px 2px 6px;
    border: 1px solid var(--Purple10);
    border-radius: 8px;
    background-color: var(--LighterPurple);
    font-size: 0.7rem;
    width: fit-content;
}
.ticket-card .ticket-card-container .ticket-infos .inf {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    user-select: none;
    font-weight: 500;
    color: var(--Grey1);
    font-size: 0.86rem;
}
.ticket-card .ticket-card-container .inf span {
    font-size: 1rem !important;
    margin-right: 5px;
    color: var(--Purple60);
}
.ticket-card .ticket-card-container .date span {
    font-size: 14px !important;
}
.ticket-card .ticket-card-container .active-on-mobile {
    display: none;
}
.ticket-card .ticket-card-container .ticket-consult {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ticket-card .ticket-card-container .ticket-consult .btns {
    display: flex;
    align-items: center;
    gap: 20px;
}
.ticket-card .ticket-card-container .ticket-consult .btns .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.ticket-card .ticket-card-container .ticket-consult .btns .btn span {
    font-size: 1.4rem;
}

.ticket-card .ticket-card-container .ticket-consult .btns .download-ticket {
    border: 1px solid var(--Purple60);
    color: var(--Purple);
    transition: var(--Trans03);
}
.ticket-card .ticket-card-container .ticket-consult .btns .download-ticket:hover {
    background-color: var(--LighterPurple);
}
.ticket-card .ticket-card-container .ticket-consult .btns .preview-ticket {
    border: 1px solid var(--Purple60);
    color: var(--White);
    transition: var(--Trans03);
    background-color: var(--Purple);
}
.ticket-card .ticket-card-container .ticket-consult .btns .preview-ticket:hover {
    opacity: 0.9;
}
.ticket-card .ticket-card-container .ticket-consult .select-ticket-mobile {
    display: none;
}
/******************************************/
@media only screen and (max-width: 906px) {
    .ticket-card {
        padding: 10px 20px;
    }
}
@media only screen and (max-width: 670px) {
    .ticket-card {
        padding: 0;
    }
    .ticket-card-table {
        padding: 0 20px;
        gap: 10px;
    }
    .disable-on-mobile {
        display: none;
    }

    .ticket-card .ticket-card-container .ticket-consult .select-ticket-mobile {
        display: block;
    }
    .ticket-card .ticket-card-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media only screen and (max-width: 780px) {
    .ticket-card-table {
        /* display: grid;
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 10px; */
    }
}
