.container .orga-page-content .filter-svents {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Purple10);
    color: var(--Purple30);
    gap: 15px;
    user-select: none;
    cursor: pointer;
    padding: 0 !important;
}
.container .orga-page-content .filter-svents .filter-ev {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 !important;
}
.container .orga-page-content .filter-svents .filter-ev .label {
    padding-bottom: 5px !important;
}
.container .orga-page-content .filter-svents .active {
    font-weight: 600;
    color: var(--Purple);
    border-bottom: 2px solid var(--Purple);
}
.container .orga-page-content .filter-svents .active span {
    border-color: var(--Purple) !important;
    background-color: var(--Purple10);
    padding: 0 !important;
}
.container .orga-page-content .filter-svents .filter-ev span {
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 5px; */
    border-radius: 50%;
    /* border: 1px solid var(--Purple30); */
}
