.ornavigation-bar {
    border-bottom: 1px solid var(--Purple10);
    background-color: var(--White);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.ornavigation-bar .ornavigation-bar-container {
    margin: auto;
    max-width: 1200px;
    padding: 15px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: relative;
}
.ornavigation-bar .ornavigation-bar-container .dropdown-menu {
    top: 60px !important;
    right: 50px !important;
}
.ornavigation-bar .ornavigation-bar-container .btns {
    display: flex;
    gap: 10px;
}

.ornavigation-bar .ornavigation-bar-container .btns .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.ornavigation-bar .ornavigation-bar-container .btns .btn span {
    color: var(--Purple);
    font-size: 1.4rem;
    margin: auto;
    user-select: none;
}
.ornavigation-bar .ornavigation-bar-container .btns .btn:hover {
    cursor: pointer;
    background-color: var(--LighterPurple);
}
.ornavigation-bar .ornavigation-bar-container .account-infos .account-infos-container {
    display: flex;
    gap: 10px;
    /* height: 100%; */
    padding: 0 20px;
    border-left: 1px solid var(--Purple10);
    cursor: pointer;
    /* padding: 15px; */
    transition: var(--Trans03);
}
/* .ornavigation-bar .ornavigation-bar-container .account-infos .account-infos-container:hover {
    background-color: var(--LighterPurple);
} */
.ornavigation-bar .ornavigation-bar-container .account-infos .account-infos-container .left-side {
    width: 38px;
    height: 38px;
    background-color: var(--Purple10);
    border-radius: 19px;
    align-items: center;
}
.ornavigation-bar .ornavigation-bar-container .account-infos .account-infos-container .right-side {
    display: flex;
    flex-direction: column;
}
.ornavigation-bar .ornavigation-bar-container .account-infos .account-infos-container .right-side .account-name {
    font-size: 14px;
    font-weight: 600;
}
.ornavigation-bar .ornavigation-bar-container .account-infos .account-infos-container .right-side .account-type {
    font-size: 12px;
    color: var(--Grey1);
}
