.SalesCard {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 8px;
}

.SalesCard .SalesCard-container {
    width: 100%;
    background-color: #552e88a3;
    padding: 20px;
    border-radius: 8px;
    color: var(--White);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.SalesCard img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.SalesCard .SalesCard-container .counted-sales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.SalesCard .SalesCard-container .counted-sales span {
    font-size: 2rem;
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}
.SalesCard .SalesCard-container .counted-sales .total {
    display: flex;
    flex-direction: row;
    align-items: end;
}
.SalesCard .SalesCard-container .counted-sales .total .sales {
    font-size: 26px;
    font-weight: 600;
}
.SalesCard .SalesCard-container .counted-sales .total .of {
    font-size: 18px;
    font-weight: 500;
    color: var(--Grey4);
}
.SalesCard .SalesCard-container .label {
    display: flex;
    flex-direction: column;
}
.SalesCard .SalesCard-container .label .more-details {
    font-size: 14px;
    color: var(--Purple60);
}
.SalesCard .SalesCard-container .SalesCard .SalesCard-container .progress-bar {
    margin-top: 11.6px;
}
.SalesCard .SalesCard-container .progress-bar .counting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.SalesCard .SalesCard-container .progress-bar .bar {
    width: 100%;
    height: 10px;
    border-radius: 2px;
    background-color: var(--Purple10);
}
.SalesCard .SalesCard-container .progress-bar .progress {
    height: 100%;
    width: 75%;
    background-color: var(--Purple60);
    border-radius: 2px;
}
