.sales-table th,
td {
    /* border: 1px solid black; */
    text-align: start;
    padding-left: 10px;
}
.sales-table table {
    width: 100%;
}
.sales-table table td {
    border-bottom: 1px solid var(--LightPurple);
    padding: 7px 0 7px 10px;
    font-size: 0.9rem;
    color: var(--Grey1);
}
td span {
    width: 30px;
    height: 30px;
    background-color: var(--Purple10);
}
