.admin-page .admin-page-content .admin-dashboard-card {
    background-color: var(--White);
    height: fit-content;
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.admin-page .admin-page-content .dashboard-cards {
    align-items: start;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: min-content !important;
    height: 100%;
}
.admin-page .admin-page-content .admin-dashboard-card .admin-dashboard-card-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 100% !important;
    height: max-content;
    position: relative;
}
.admin-page .admin-page-content img {
    width: 100%;
    max-width: 400px;
}
.admin-page .admin-page-content .admin-dashboard-card .admin-dashboard-card-container .number {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.admin-page .admin-page-content .admin-dashboard-card .admin-dashboard-card-container .label {
    color: var(--Grey1);
    margin-bottom: 20px;
}
.admin-page .admin-page-content .admin-dashboard-card .admin-dashboard-card-container .icon span {
    font-size: 26px;
    position: absolute;
    top: 20px;
    right: 15px;
}
.admin-page .admin-page-content .this.good {
    font-size: 12px;
    padding: 2px 10px;
    border: 1px solid var(--Green);
    color: var(--Green);
    border-radius: 15px;
    width: fit-content;
}
.admin-page .admin-page-content .this.bad {
    font-size: 12px;
    padding: 2px 10px;
    border: 1px solid rgb(180, 0, 0);
    color: rgb(180, 0, 0);
    border-radius: 15px;
}
.admin-total-activity .admin-total-activity .admin-total-activity-container {
    background-color: red;
    width: 100%;
    display: flex;
}
.admin-total-activity .admin-total-activity-container img {
    min-width: 100%;
}

/***************************** New users *********************************/

.admin-page .admin-page-content .new-users {
    background-color: var(--White);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.admin-page .admin-page-content .new-users .new-users-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.admin-page .admin-page-content .new-users .new-users-container .section-header .title {
    font-weight: 600;
}
.admin-page .admin-page-content .new-users .new-users-container .section-header {
    display: flex;
    justify-content: space-between;
}

.admin-page .admin-page-content .new-users .new-users-container .new-user-card {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    color: var(--Grey1);
    padding: 10px 0;
    border-bottom: 1px solid var(--LightPurple);
}
.admin-page .admin-page-content .new-users .new-users-container .new-user-card .name {
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
}
.admin-page .admin-page-content .new-users .new-users-container .new-user-card .infos{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.admin-page .admin-page-content .new-users .new-users-container .new-user-card .name span{
    text-transform: capitalize;
    font-size: 12px !important;
    color: var(--Grey1);
    font-weight: 400;
}
.admin-page .admin-page-content .new-users .new-users-container .new-user-card .avatar {
    max-width: 36px;
    max-height: 36px;
    border-radius: 50%;
    background-color: var(--Purple10);
    display: flex;
    aspect-ratio: 1/1;
    overflow: hidden;

}
.admin-page .admin-page-content .new-users .new-users-container .new-user-card .avatar img{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
}


@media only screen and (max-width: 800px) {
    .admin-page .admin-page-content .dashboard-cards{
        grid-template-columns: 1fr;
    }
  }