.search-user {
    background-color: var(--White);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 100%;
}
.search-user .search-user-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.search-user .search-user-container .search-left-side {
    display: flex;
    gap: 20px;
    align-items: center;
}
.search-user .search-user-container .search-left-side .iconed-input {
    display: flex;
    align-items: center;
    max-height: 36px;
    border-radius: 8px;
    padding: 7px 0px 7px 7px;
    overflow: hidden;
    border: 1px solid var(--Purple10);
}
.search-user .search-user-container .search-left-side .iconed-input span {
    padding: 0 7px;
    color: var(--Purple60);
    display: flex;
    transition: 0.3s ease;
    height: 100%;
    border-left: 1px solid var(--Purple10);
    align-items: center;
    user-select: none;
}
.search-user .search-user-container .search-left-side .iconed-input input {
    outline: none;
    border: none;
    padding: 7px 10px;
    height: 100%;
}
.search-user .search-user-container .search-left-side .iconed-input input::placeholder {
    color: var(--Grey2);
}
.search-user .search-user-container .search-left-side .filter .filter-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: var(--Grey1) !important;
    overflow: hidden;
    border: 1px solid var(--Purple10);

}
.search-user .search-user-container .search-left-side .filter .filter-container .user {
    padding: 7px 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}
.search-user .search-user-container .search-left-side .filter .filter-container .user.active {
    background-color: var(--White);
    color: #000;
    font-weight: 500;
}
.search-user .search-user-container .search-left-side .filter .filter-container .organizer {
    padding-left: 15px;
    color: var(--Grey1);
}
.search-user .search-user-container .search-left-side .filter .filter-container .client {
    padding-right: 15px;
}
.search-user .search-user-container .stats span {
    color: var(--Puple);
    font-weight: 600;
}

/*****************************Users Grid*******************************/
.users-grid{
background-color: var(--White);
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.users-grid-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;

}
.users-grid-container table th{
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
}
.users-grid-container table td{
    padding: 10px 0 !important;
    color: var(--Grey1);

}
.users-grid-container table td .material-symbols-outlined{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    color: rgb(200,0,0 );
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
}
.users-grid-container table td .verify{
    color: var(--Purple) !important;

}
.users-grid-container table td .material-symbols-outlined:hover{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.users-grid-container table .avatar{
    width: 30px;
    height: 30px ;
    border-radius: 50%;
    margin: 10px 0px !important;
    background-color: var(--Purple10);
    padding: 0px !important;
    margin-right: 10px !important;
}
.users-grid-container table{
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    /* padding-bottom: 10px; */
}
.pagination{
    margin-top: 20px;
display: flex;
justify-content: space-between;
}
.pagination .pagination-right{
gap: 10px;
align-items: center;
font-size: 14px;
color: var();
    display: flex;
}.pagination .pagination-right input{
width: 30px;
padding: 7px;
outline: none;
border-radius: 8px;
border: 1px solid var(--Grey2);
}
.pagination .pagination-right .set-user-perpage{
display: flex;
gap: 10px;
font-size: 14px;
align-items: center;

}
.pagination .pagination-left{
    display: flex;
    align-items: center;
    gap: 5px;
}
.pagination .pagination-left .page-item{
    /* background-color: red; */
    width: 24px;
    color: var(--Grey1);
    border: 1px solid var(--Grey2);
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    height: 24px;
    cursor: pointer;
}.pagination .pagination-left .page-item.active{

    background-color: var(--Purple60);
    color: var(--White);
}
.better-experience{
    display: none;
}

@media only screen and (max-width: 800px) {
    .manage-users-page{
        display: none;
    }
    .better-experience{
        height: 100vh;
        display: block;
        width: 100vw;
        display: flex;
    }
    .better-experience span{
        margin: auto;
        padding: 20px;
        text-align: center;
    }
  }