.admin-page {
    display: flex;
    max-width: 1240px;
    margin: auto;
}
.admin-page-content {
    padding: 20px 30px;
    margin: auto;
    display: flex;
    gap: 20px;
    width: 100%;
}
.admin-page-content .left-side {
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.admin-page-content .right-side {
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
