.cartheader {
    margin: auto;
    max-width: 1200px;
    background-color: var(--White);
    border-radius: 8px;
}
.cartheader .cartheader-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 50px 20px 50px;
    align-items: center;
    padding: 10px 0;
}
.cartheader .cartheader-container .cartheader-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cartheader .cartheader-container .cartheader-left .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.cartheader .cartheader-container .cartheader-left input {
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}
.cartheader .cartheader-container .cartheader-left span {
    color: var(--Grey1);
    font-size: 1.4rem;
    margin: auto;
    user-select: none;
    cursor: pointer;
}
.cartheader .cartheader-container .cartheader-left .btn:hover {
    cursor: pointer;
    background-color: var(--Purple10);
}
.cartheader .cartheader-container .cartheader-left .cart-search {
    display: flex;
    background-color: var(--LighterPurple);
    border-radius: 10px;
}
.cartheader .cartheader-container .cartheader-right {
    user-select: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
.cartheader .cartheader-container .cartheader-right .much-selected span {
    color: var(--Green);
    font-weight: 500;
}
.cartheader .cartheader-container .cartheader-right .pay-selected-incart {
    cursor: pointer;
    background-color: var(--Green);
    color: var(--White);
    padding: 6px 10px;
    border-radius: 10px;
    display: flex;
    transition: 0.2s ease-in-out;
    text-align: center;
}
.cartheader .cartheader-container .cartheader-right .pay-selected-incart .curr {
    font-size: 0.6rem;
}
.cartheader .cartheader-container .cartheader-right .pay-selected-incart:hover {
    background-color: var(--Green80);
    box-shadow: var(--Green50) 0px 1px 4px;
}
.price-section {
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (max-width: 678px) {
    .cartheader .cartheader-container .cartheader-left input {
        display: none;
    }
    .cartheader .cartheader-container .cartheader-left .cart-search {
        background-color: transparent;
    }
    .products-header .products-header-container {
        margin: 20px;
    }
}
@media only screen and (max-width: 906px) {
    .cartheader .cartheader-container {
        margin: 40px 20px 20px 20px;
    }
    .products-header .products-header-container {
        margin: 20px 20px 10px 20px !important;
    }
    .products-header .products-header-container .head {
        grid-template-columns: 3fr 1fr 1fr 1fr !important;
    }
}
@media only screen and (max-width: 420px) {
    .cartheader-container {
        flex-direction: column;
    }
    .cartheader .cartheader-container .cartheader-left input {
        display: block;
    }
    /* .cartheader .cartheader-container .cartheader-left .search{
        max-width: 20%;
    } */
    .cartheader .cartheader-container .cartheader-left .cart-search {
        background-color: var(--Purple10);
    }
}
/************************ Product Head ***************************/
.products-header {
    margin: auto;
    max-width: 1200px;
    user-select: none;
    display: none;
}
.products-header .products-header-container {
    /* margin: 20px 50px 0px 10px; */
    background-color: aqua;
    margin: auto 50px;
    /* border-bottom: 1px solid var(--Purple10); */
}
.products-header .products-header-container .head {
    margin-left: 10%;
    text-align: center;
    display: grid;
    grid-template-columns: 1.3fr 1.1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 5px;
}
