.payment {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;

}
.payment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin: 0 20px;
}
.payment-container .side {
    display: flex;
    border-radius: 8px;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}
.payment-container .side .payment-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background-color: var(--White);
    padding: 20px;
    border-radius: 8px;
}
.payment-container .side .payment-details .title-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    align-items: center;
    color: var(--Grey3);
    font-size: 14px;
    border-bottom: 1px solid var(--LightPurple);
}
.payment-container .side .payment-details .title-date .title {
    font-size: 20px;
    color: var(--Purple60);
    font-weight: 600;
}
.payment-container .side .payment-details .det-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.payment-container .side .payment-details .det-container .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: end;
}
.payment-container .side .payment-details .det-container .date {
    width: fit-content;
}
.payment-container .side .payment-details .det-container .row .labled-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.payment-container .side .payment-details .det-container .row .labled-input label {
    font-weight: 600;
    font-size: 16px;
}
.payment-container .side .payment-details .det-container .row input {
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--Grey2);
    padding: 7px 10px;
    font-size: 17px;
}
.payment-container .side .payment-details .det-container .row input::placeholder {
    color: var(--Grey2);
}
.payment-container .side .payment-details .det-container .row select {
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--Grey2);
    padding: 7px 10px;
    font-size: 17px;
}
.payment-container .side .payment-details .sub-title {
    font-size: 14px;
    color: var(--Grey3);
    padding-top: 10px;
    border-top: 1px solid var(--LightPurple);
}
.payment-container .side .det {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background-color: var(--White);
    padding: 20px;
    border-radius: 8px;
}
.payment-container .right .title {
    padding-bottom: 10px;
    align-items: center;
    font-size: 20px;
    color: var(--Purple60);
    font-weight: 600;
    border-bottom: 1px solid var(--LightPurple);
}
.payment-container .right table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-container .right table td {
    padding: 0;
    border: none;
}
.payment-container .right table .head {
    font-weight: 600;
    padding-right: 10px !important;
}
.payment-container .right .chekout-btn {
    width: 100%;
    display: flex;
}
.payment-container .right .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
}
.payment-container .right .btn {
    width: 100%;
    background-color: aquamarine;
}
.payment-container .right .btn {
    text-align: center;
    margin: auto;
    background-color: var(--Green);
    padding: 12px ;
    width: 100%;
    border-radius: 8px;
    color: var(--White);
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}
.payment-container .right .cancel {
    width: 30%;
    background-color: transparent;
    border: 1px solid var(--Grey3);
    color: var(--Grey1);
}
.small {
    max-width: 120px;
}
@media only screen and (max-width: 780px) {
    .payment-container{
        flex-direction: column !important;
    }
}
