/* .container {
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 5vw;
} */

.green_btn {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #3bb19b;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
